# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=alzheimer_user
POSTGRES_PASSWORD=alzheimer_pass

DB_URL=ver com o joao
DB_USERNAME=ver com o joao
DB_PASSWORD=ver com o joao

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# PgAdmin
PGADMIN_EMAIL=email@gmail.com
PGADMIN_PASSWORD=senha1234

#JWT
JWT_SECRET= aqui usar o openssl rand -base64 32 no terminal

# Firebase Storage Configuration - dados sao gerados ao criar um bucket no firebase por meio de um arquivo de config.json
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_BUCKET_NAME=your-bucket-name.appspot.com
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id