.env
tcc.code-workspace
backend/docker-compose.yml
backend/src/main/resources/google-credentials.json
backend/src/main/resources/firebase-credentials.json
backend/firebase-credentials.json
mobile/android/*
mobile/package-lock.json
node_modules/
