name: Deploy Backend Azure WebApp via Service Principal

on:
  push:
    branches:
      - main
    paths:
      - 'back-end/**'

env:
  DB_URL: ${{ secrets.DB_URL_PROD }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD_PROD }}
  API_KEY: ${{ secrets.API_KEY_PROD }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      working-directory: ./back-end
      run: mvn clean package

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v2
      with:
        app-name: backend-tcc-alzheimer-springboot
        slot-name: production
        package: ./back-end/target/alzheimer-0.0.1-SNAPSHOT.jar
